/LICENSE.md @YUGANG-Pluto
/EULA.md @YUGANG-Pluto
/SCHOOL_USE_LICENSE.md @YUGANG-Pluto
/PRIVACY.md @YUGANG-Pluto
/THIRD_PARTY_NOTICES.md @YUGANG-Pluto
/app/src/main/ @YUGANG-Pluto
/app/preload.js @YUGANG-Pluto
/app/src/renderer/ @YUGANG-Pluto
/docs/ @YUGANG-Pluto

